Приемная очередь/WpfApplication1/WpfApplication1/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vivod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vivodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" minOccurs="0" name="vivodResult" nillable="true" type="q3:ArrayOfenrollee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dobav">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_coming" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time_coming" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_call" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time_call" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="turn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dobavResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dobavResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dobav1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_type_status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_cash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tame_status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dobav1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dobav1Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getidstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idts" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="casa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ts" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getidstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getidstatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vozvr_spis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vozvr_spisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vozvr_spisResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actcash">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="actcashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="actcashResult" nillable="true" type="q5:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number_cash" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cash_off">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number_cash" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cash_offResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cash_offResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="turn_cash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cash" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="turn_cashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="turn_cashResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>