Приемная очередь/WpfApplication1/WpfApplication1/Service References/ServiceReference1/WcfServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfenrollee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enrollee" nillable="true" type="tns:enrollee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenrollee" nillable="true" type="tns:ArrayOfenrollee" />
  <xs:complexType name="enrollee">
    <xs:sequence>
      <xs:element minOccurs="0" name="cash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_call" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_coming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time_call" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time_coming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="turn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enrollee" nillable="true" type="tns:enrollee" />
</xs:schema>